html,
body {
  font-size: 14px;

  @include tablet {
    font-size: 14px;
  }

  @include desktop {
    font-size: 16px;
  }

  @include widescreen {
    font-size: 18px;
  }

  @include fullhd {
    font-size: 20px;
  }
}

// body {
//   overflow: visible !important;
// }

.navbar-item-active {
  color: $info;
}

.navbar-brand img {
  height: 3.5rem;
  max-height: none;
}
