// $family-sans-serif: "Roboto Slab", serif;

$phone: 500px;
$tablet: 650px;
$desktop: 850px;
$widescreen: 950px;
$fullhd: 1050px;

$primary: #6F2A8E;
$link: #0079C1;
$info: #0079C1;
$success: #C2CD23;
$warning: #E9C46A;
$danger: #D31145;

$navbar-height: 5rem;
