// $family-sans-serif: "Roboto Slab", serif;

$phone: 500px;
$tablet: 650px;
$desktop: 850px;
$widescreen: 950px;
$fullhd: 1050px;

$primary: #6f2a8e;
$link: #0079c1;
$info: #0079c1;
$success: #c2cd23;
$warning: #e9c46a;
$danger: #d31145;

$navbar-height: 5rem;
